.background-icon4,
.background-icon5 {
  position: absolute;
  top: 1650px;
  left: -323px;
  width: 1149.4px;
  height: 1110.8px;
  object-fit: contain;
}
.background-icon5 {
  top: 2661px;
}
.background-icon6,
.background-icon7,
.background-icon8 {
  position: absolute;
  top: 1494px;
  left: 16px;
  width: 432px;
  height: 360px;
  object-fit: contain;
}
.background-icon7,
.background-icon8 {
  top: 805px;
  left: 3.2px;
  width: 442.3px;
  height: 482px;
}
.background-icon8 {
  top: -730px;
  left: -421px;
  width: 1309.4px;
  height: 892.4px;
}
.compny-group-icon,
.grid-icon {
  position: absolute;
  top: 1028px;
  left: -120px;
  width: 704px;
  height: 372px;
}
.grid-icon {
  top: 0;
  left: -126px;
  width: 709px;
  height: 8612.1px;
  mix-blend-mode: overlay;
}
.rectangle-child {
  backdrop-filter: blur(300px);
  border-radius: 20px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
}
.rectangle,
.rectangle-child {
  position: absolute;
  top: 0;
  left: calc(50% - 186px);
  width: 372px;
  height: 100px;
}
.axelar-logo-full-white-12,
.longhashx-white-12 {
  position: absolute;
  top: 7px;
  left: 0;
  width: 97.1px;
  height: 42.3px;
  object-fit: cover;
}
.axelar-logo-full-white-12 {
  top: 19px;
  left: 117.3px;
  height: 22.8px;
}
.image-39-icon2,
.logo {
  position: absolute;
  height: 53px;
}
.image-39-icon2 {
  top: 0;
  left: 234.7px;
  width: 97.1px;
  object-fit: cover;
}
.logo {
  top: 23px;
  left: 20.6px;
  width: 331.9px;
}
.backed-by2 {
  position: absolute;
  top: 675px;
  left: calc(50% - 186px);
  width: 372px;
  height: 100px;
}
.backed-by3 {
  position: absolute;
  top: 643px;
  left: calc(50% - 70px);
  font-size: 16px;
  display: inline-block;
  color: #daddd8;
  text-align: center;
  width: 139.9px;
}
.separater,
.separater1 {
  position: absolute;
  top: -0.5px;
  left: calc(50% - 171.5px);
  border-top: 1px solid transparent;
  box-sizing: border-box;
  width: 343px;
  height: 1px;
}
.separater1 {
  top: 145.5px;
}
.gaming-experience1 {
  background: linear-gradient(205.14deg, #3f37c9 36.56%, #4cc9f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lync-provides-a-container3 {
  width: 100%;
}
.lync-provides-a-container2 {
  position: absolute;
  top: 25px;
  left: 1px;
  display: flex;
  align-items: center;
  width: 340px;
}
.lync1 {
  position: absolute;
  top: 869px;
  left: calc(50% - 172px);
  width: 342px;
  height: 146px;
  text-align: center;
  font-size: 18px;
}
.making-blockchain-gaming-container1 {
  position: absolute;
  width: calc(100% - 41.1px);
  top: 0;
  left: 19.6px;
  font-weight: 900;
  display: inline-block;
}
.image-88-icon1,
.image-89-icon1,
.som-website-logo-1-11 {
  position: absolute;
  width: calc(100% - 270.5px);
  top: 0;
  right: 270.5px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 90.8px;
  object-fit: cover;
}
.image-89-icon1,
.som-website-logo-1-11 {
  top: 20px;
  right: 135.2px;
  left: 135.3px;
  height: 49.9px;
}
.som-website-logo-1-11 {
  top: 30px;
  right: 0;
  left: 270.5px;
  height: 29.2px;
}
.image-88-parent {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 90.8px;
}
.image-87-icon1,
.image-90-icon1 {
  position: absolute;
  width: calc(100% - 139.2px);
  top: 35px;
  right: 0;
  left: 139.2px;
  max-width: 100%;
  overflow: hidden;
  height: 19.3px;
  object-fit: cover;
}
.image-87-icon1 {
  top: 0;
  right: 139.2px;
  left: 0;
  height: 90.2px;
}
.image-90-parent {
  position: absolute;
  width: calc(100% - 128.4px);
  top: 91px;
  right: 71.8px;
  left: 56.6px;
  height: 90.2px;
}
.comapny1 {
  position: absolute;
  width: 100%;
  top: 88px;
  right: 0;
  left: 0;
  height: 181.2px;
}
.company1 {
  position: absolute;
  width: calc(100% - 58px);
  top: 1109px;
  right: 29px;
  left: 29px;
  height: 269.2px;
  text-align: center;
}
.power-up-your {
  margin: 0;
}
.lync-sdks1 {
  margin: 0;
  background: linear-gradient(94.68deg, #ff0276 20.25%, #7209b7 71.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.power-up-your-container1 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-size: 24px;
  font-weight: 900;
  display: inline-block;
}
.lync-sdks-can1 {
  position: absolute;
  width: calc(100% - 39.2px);
  top: 106px;
  left: 19.6px;
  display: inline-block;
  color: #daddd8;
  height: 66px;
}
.card-icon1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 20px;
  max-width: 100%;
  overflow: hidden;
  height: 197px;
  object-fit: contain;
}
.web31 {
  background: linear-gradient(94.68deg, #ff0276 20.25%, #7209b7 71.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.complexities1 {
  color: #fff;
}
.dont-worry-about-container1 {
  position: absolute;
  width: calc(100% - 50.9px);
  top: 28px;
  left: 23.5px;
  display: flex;
  align-items: center;
}
.focus-completely-on1,
.go-cross-chain-in1,
.save-9-12-months1,
.save-up-to1 {
  position: absolute;
  width: calc(100% - 119.5px);
  top: 0;
  left: 26.4px;
  display: flex;
  align-items: center;
  height: 19px;
}
.focus-completely-on1,
.go-cross-chain-in1,
.save-up-to1 {
  width: calc(100% - 154.7px);
  top: 89px;
  left: 27.4px;
}
.focus-completely-on1,
.save-up-to1 {
  width: calc(100% - 77.4px);
  top: 30px;
  left: 26.4px;
}
.save-up-to1 {
  width: calc(100% - 27.5px);
  top: 59px;
  left: 27.4px;
}
.mdistar-four-points-icon4,
.mdistar-four-points-icon5,
.mdistar-four-points-icon6,
.mdistar-four-points-icon7 {
  position: absolute;
  width: calc(100% - 286.9px);
  top: 0;
  right: 286.9px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 18px;
}
.mdistar-four-points-icon5,
.mdistar-four-points-icon6,
.mdistar-four-points-icon7 {
  top: 30px;
  right: 285.9px;
  left: 1px;
}
.mdistar-four-points-icon6,
.mdistar-four-points-icon7 {
  top: 60px;
  right: 286.9px;
  left: 0;
}
.mdistar-four-points-icon7 {
  top: 90px;
}
.points1,
.power-up2 {
  position: absolute;
  height: 108px;
}
.points1 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.power-up2 {
  width: calc(100% - 66.5px);
  top: 63px;
  right: 43px;
  left: 23.5px;
  font-size: 10px;
}
.power-up-card,
.power-up1 {
  position: absolute;
  width: calc(100% - 1px);
  top: 202px;
  right: 0;
  left: 1px;
  height: 197px;
  text-align: left;
}
.power-up1 {
  width: calc(100% - 58px);
  top: 1494px;
  right: 29px;
  left: 29px;
  height: 399px;
  text-align: center;
  font-size: 16px;
}
.bg-gradient-icon1 {
  position: absolute;
  top: 44px;
  left: -236px;
  width: 558.6px;
  height: 651.7px;
  object-fit: contain;
  mix-blend-mode: normal;
}
.elevate-your-gameplay1,
.unleash-your-potential1 {
  position: absolute;
  top: 90px;
  left: 22px;
  display: flex;
  align-items: center;
  width: 158px;
}
.elevate-your-gameplay1 {
  top: 32px;
  font-size: 16px;
  color: #fff;
  width: 271px;
}
.body-213 {
  position: absolute;
  top: 0;
  left: 2.65%;
  letter-spacing: 0.25px;
  line-height: 20.15px;
}
.body-212 {
  width: 75.6px;
  position: relative;
  height: 20.1px;
}
.arrow-alt-lright-alt-icon5 {
  width: 24.2px;
  position: relative;
  height: 24.2px;
  display: none;
}
.cta6 {
  position: absolute;
  top: 137px;
  left: 22px;
  border-radius: 20.15px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.1px 14.1px;
  gap: 4px;
  text-align: center;
  font-size: 14.1px;
  color: #0e0d0d;
}
.httpslottiefilescomanimat-icon2 {
  position: absolute;
  top: 19px;
  left: 213px;
  width: 183.3px;
  height: 183.3px;
  object-fit: contain;
}
.docs-card1 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 32.24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 200px;
  overflow: hidden;
  font-size: 10px;
}
.httpslottiefilescomanimat-icon3 {
  position: absolute;
  top: 46px;
  left: 149px;
  width: 246.1px;
  height: 252.7px;
  object-fit: contain;
}
.div3,
.user-ops-created1 {
  position: absolute;
  top: 65px;
  left: 19px;
  display: flex;
  align-items: center;
  width: 168px;
}
.div3 {
  top: 14px;
  font-size: 38px;
  font-weight: 900;
  background: linear-gradient(205.14deg, #3f37c9 36.56%, #4cc9f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 158px;
}
.group-child5,
.httpslottiefilescomanimat-parent {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  backdrop-filter: blur(300px);
  border-radius: 32px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
}
.httpslottiefilescomanimat-parent {
  top: 352px;
  height: 250px;
  overflow: hidden;
}
.group-child5 {
  top: 0;
  height: 120px;
}
.div4,
.projects-have-downloaded1 {
  position: absolute;
  width: calc(100% - 92.7px);
  top: 61px;
  left: 18.6px;
  display: flex;
  align-items: center;
  height: 34.5px;
}
.div4 {
  width: calc(100% - 187.2px);
  top: 17px;
  font-size: 38px;
  font-weight: 900;
  background: linear-gradient(205.14deg, #3f37c9 36.56%, #4cc9f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 40px;
}
.rectangle-parent5 {
  position: absolute;
  width: 100%;
  top: 216px;
  right: 0;
  left: 0;
  height: 120px;
}
.div5 {
  position: absolute;
  width: calc(100% - 187.2px);
  top: 17px;
  left: 18.6px;
  font-size: 38px;
  font-weight: 900;
  background: linear-gradient(94.68deg, #ff0276 20.25%, #7209b7 71.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  height: 40px;
}
.rectangle-parent6 {
  position: absolute;
  width: 100%;
  top: 618px;
  right: 0;
  left: 0;
  height: 120px;
}
.stats {
  position: absolute;
  width: calc(100% - 59px);
  top: 1945px;
  right: 29px;
  left: 30px;
  height: 738px;
  font-size: 16px;
  color: #8d96b2;
}
.product-suite2 {
  position: absolute;
  top: 2787px;
  left: calc(50% - 185px);
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  width: 369px;
}

.rectangle-parent7 {
  position: absolute;
  top: 116px;
  width: 431px;
}

.body-215 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.25px;
  line-height: 20px;
}
.body-214 {
  width: 79px;
  position: relative;
  height: 20px;
}
.arrow-alt-lright-alt-icon6 {
  width: 24px;
  position: relative;
  height: 24px;
}
.cta7 {
  position: absolute;
  width: calc(100% - 38.5px);
  top: calc(50% + 85px);
  right: 19.8px;
  left: 18.7px;
  border-radius: 20px;
  background: linear-gradient(205.14deg, #3f37c9 36.56%, #4cc9f0);
  height: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  box-sizing: border-box;
  gap: 4px;
}
.body-216 {
  width: 71px;
  position: relative;
  height: 20px;
}
.chip-21 {
  position: absolute;
  top: calc(50% + 136px);
  left: calc(50% - 168px);
  backdrop-filter: blur(300px);
  width: 335.5px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  box-sizing: border-box;
  gap: 8px;
}
.launch-your-game-container1,
.we-help-game1 {
  position: absolute;
  text-align: center;
  display: inline-block;
}
.we-help-game1 {
  width: calc(100% - 36.5px);
  top: calc(50% - 4px);
  left: 16.8px;
  color: #daddd8;
  height: 64px;
}
.launch-your-game-container1 {
  width: 100%;
  top: calc(50% - 180px);
  left: 0;
  font-size: 38px;
  font-weight: 900;
}
.hero {
  position: absolute;
  width: calc(100% - 58px);
  top: calc(50% - 3505px);
  right: 29px;
  left: 29px;
  height: 360px;
  font-size: 14px;
}
.menu-icon {
  width: 32px;
  position: relative;
  height: 32px;
}

.group-parent1 {
  width: 37.1px;
  position: relative;
  height: 23px;
}
.left-part1 {
  width: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
  box-sizing: border-box;
}
.body-218 {
  width: 75px;
  position: relative;
  height: 20px;
  display: none;
}
.cta8,
.navbar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cta8 {
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  justify-content: center;
  padding: 8px 14px;
  gap: 4px;
}
.navbar1 {
  position: absolute;
  top: 28px;
  left: 29px;
  backdrop-filter: blur(250px);
  border-radius: 48px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  width: 371px;
  height: 80px;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 14px;
  color: #0e0d0d;
}
.empowering-developers-to6,
.lync-wallet-sdk6 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 337.3px;
}
.empowering-developers-to6 {
  top: 29px;
  font-size: 14px;
  color: #8d96b2;
  width: 331.2px;
}
.feature,
.feature1 {
  position: absolute;
  top: 2873px;
  left: 48.7px;
  width: 337.3px;
  height: 86px;
  font-size: 18px;
}
.feature1 {
  top: 3079px;
}
.empowering-developers-to8,
.lync-wallet-sdk8 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 341px;
}
.empowering-developers-to8 {
  top: 29px;
  font-size: 14px;
  color: #8d96b2;
  width: 334.9px;
}
.feature2,
.feature3,
.feature4,
.feature5 {
  position: absolute;
  top: 3285px;
  left: 45px;
  width: 341px;
  height: 86px;
  font-size: 18px;
}
.feature3,
.feature4,
.feature5 {
  top: 2976px;
  left: 48.7px;
  width: 337.3px;
}
.feature4,
.feature5 {
  top: 3182px;
}
.feature5 {
  top: 3388px;
  left: 45px;
}
.overlay-icon7 {
  position: absolute;
  bottom: 2754px;
  left: calc(50% - 215px);
  width: 430px;
  height: 571px;
  opacity: 0.2;
}
.background-icon10,
.background-icon11,
.background-icon9 {
  position: absolute;
  top: 6944px;
  left: -293px;
  width: 1149.4px;
  height: 1110.8px;
  object-fit: contain;
}
.background-icon10,
.background-icon11 {
  top: 5464px;
}
.background-icon11 {
  top: 4762px;
}
.image-94-icon3 {
  border-radius: 20px 20px 0 0;
  max-width: 100%;
  overflow: hidden;
  height: 171px;
  flex-shrink: 0;
  object-fit: cover;
}
.image-94-icon3,
.lync-joins-forces3,
.lync-teamed-up3 {
  align-self: stretch;
  position: relative;
}
.lync-joins-forces3 {
  font-size: 14px;
  color: #8d96b2;
}
.text3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.read-more3 {
  position: relative;
}
.btn-23 {
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 14px;
  font-size: 10px;
  color: #343b4c;
}
.bottom3,
.card3 {
  backdrop-filter: blur(300px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom3 {
  align-self: stretch;
  border-radius: 0 0 20px 20px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  padding: 16px 20px;
  gap: 20px;
}
.card3 {
  position: absolute;
  bottom: 2832px;
  left: calc(50% - 152px);
  border-radius: 48px;
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  width: 304px;
  min-width: 304px;
  font-size: 16px;
}
.blog1 {
  margin: 0;
  background: linear-gradient(205.14deg, #3f37c9 36.56%, #4cc9f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.from-our-blog-container2 {
  width: calc(100% - 50px);
  top: 3989px;
  left: 25px;
  font-weight: 900;
}
.from-our-blog-container2,
.level-up-your1,
.valuable-reviews1 {
  position: absolute;
  display: inline-block;
  text-align: center;
}
.valuable-reviews1 {
  width: calc(100% - 50px);
  top: 4724px;
  left: 25px;
  font-weight: 900;
}
.level-up-your1 {
  width: calc(100% - 90px);
  top: 4075px;
  left: 45px;
  font-size: 16px;
  color: #daddd8;
  height: 66px;
}
.expand-right-icon2 {
  position: absolute;
  width: calc(100% - 382px);
  right: 353px;
  bottom: 3018px;
  left: 29px;
  border-radius: 32px;
  max-width: 100%;
  overflow: hidden;
  height: 48px;
  object-fit: contain;
}
.expand-right-inner {
  width: 6px;
  position: relative;
  height: 12px;
  object-fit: contain;
}
.expand-right2 {
  position: absolute;
  width: calc(100% - 382px);
  right: 29px;
  bottom: 3017px;
  left: 353px;
  backdrop-filter: blur(300px);
  border-radius: 32px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.absolutely-blown-away3 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.review-text3 {
  align-self: stretch;
  border-radius: 20px 20px 0 0;
  background-color: #020617;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  opacity: 0.8;
}
.ellipse-div {
  width: 32px;
  position: relative;
  border-radius: 50%;
  background-color: #d9d9d9;
  height: 32px;
}
.avatar3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
}
.alex-george3,
.ceo-polygon3 {
  position: relative;
  text-transform: uppercase;
}
.ceo-polygon3 {
  font-size: 6px;
  letter-spacing: 0.2em;
  line-height: 125%;
  font-family: Satoshi;
  color: #8d96b2;
}
.customer-detail3 {
  flex-direction: column;
  align-items: flex-start;
}
.customer-detail3,
.expand-rightreview-card3,
.reviewer3 {
  display: flex;
  justify-content: flex-start;
}
.reviewer3 {
  align-self: stretch;
  backdrop-filter: blur(300px);
  border-radius: 0 0 20px 20px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  gap: 10px;
  font-size: 14px;
  font-family: Inter;
}
.expand-rightreview-card3 {
  position: absolute;
  bottom: 2344px;
  left: calc(50% - 152px);
  border-radius: 20px;
  width: 304px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
}
.expand-right-icon3,
.expand-right3 {
  position: absolute;
  width: calc(100% - 382px);
  bottom: 2475px;
  border-radius: 32px;
  height: 48px;
}
.expand-right-icon3 {
  right: 353px;
  left: 29px;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
}
.expand-right3 {
  right: 29px;
  left: 353px;
  backdrop-filter: blur(300px);
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.image-96-icon {
  position: absolute;
  top: 5206px;
  left: -127px;
  width: 557px;
  height: 455px;
  object-fit: cover;
}
.our-believers-and-container2,
.strongest-web3-community-container2 {
  position: absolute;
  bottom: 2025px;
  left: calc(50% - 170px);
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  width: 340px;
}
.our-believers-and-container2 {
  bottom: 1674px;
}
.telegram-svgrepo-com-1-icon1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.body-220 {
  width: 94px;
  position: relative;
  height: 20px;
}
.cta9,
.group-child13 {
  position: absolute;
  box-sizing: border-box;
}
.cta9 {
  bottom: 1977px;
  left: calc(50% - 80px);
  border-radius: 20px;
  background: linear-gradient(205.14deg, #3f37c9 36.56%, #4cc9f0);
  width: 160px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  gap: 10px;
  font-size: 14px;
}
.group-child13 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(180.14px);
  border-radius: 19.22px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 0.6px solid rgba(255, 255, 255, 0.21);
  height: 83.6px;
}
.image-39-icon3 {
  position: absolute;
  width: calc(100% - 46.5px);
  right: 23.7px;
  bottom: 0.8px;
  left: 22.8px;
  max-width: 100%;
  overflow: hidden;
  height: 82px;
  object-fit: cover;
}
.rectangle-parent8 {
  position: absolute;
  width: calc(100% - 252px);
  right: 223px;
  bottom: 1557.7px;
  left: 29px;
  height: 83.6px;
}
.group-child14 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(226.18px);
  border-radius: 24.13px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 0.8px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  height: 84.2px;
}
.image-58-icon1 {
  position: absolute;
  width: calc(100% - 44.1px);
  right: 21.6px;
  bottom: 18.4px;
  left: 22.5px;
  max-width: 100%;
  overflow: hidden;
  height: 42.5px;
  object-fit: cover;
}
.rectangle-parent9 {
  position: absolute;
  width: calc(100% - 252px);
  right: 29px;
  bottom: 1559.8px;
  left: 223px;
  height: 84.2px;
}
.group-child15 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(178.14px);
  border-radius: 19px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 0.6px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  height: 82.7px;
}
.spheron-white-1-icon1 {
  position: absolute;
  width: calc(100% - 48px);
  right: 23.6px;
  bottom: 22px;
  left: 24.4px;
  max-width: 100%;
  overflow: hidden;
  height: 38.6px;
  object-fit: cover;
}
.rectangle-parent10 {
  position: absolute;
  width: calc(100% - 252px);
  right: 223px;
  bottom: 1457.6px;
  left: 29px;
  height: 82.7px;
}
.group-child16 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(181.33px);
  border-radius: 19.34px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 0.6px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  height: 84.2px;
}
.longhashx-white-13 {
  position: absolute;
  width: calc(100% - 39.3px);
  right: 20.1px;
  bottom: 11.3px;
  left: 19.2px;
  max-width: 100%;
  overflow: hidden;
  height: 60.9px;
  object-fit: cover;
}
.rectangle-parent11 {
  position: absolute;
  width: calc(100% - 252px);
  right: 29px;
  bottom: 1456.8px;
  left: 223px;
  height: 84.2px;
}
.axelar-logo-full-white-13 {
  position: absolute;
  width: calc(100% - 54.3px);
  right: 27.5px;
  bottom: 27.2px;
  left: 26.8px;
  max-width: 100%;
  overflow: hidden;
  height: 29.7px;
  object-fit: cover;
}
.image-78-icon1,
.rectangle-parent12 {
  position: absolute;
  width: calc(100% - 252px);
  right: 223px;
  bottom: 1355.8px;
  left: 29px;
  height: 84.2px;
}
.image-78-icon1 {
  width: calc(100% - 49.7px);
  right: 20px;
  bottom: 30.4px;
  left: 29.7px;
  max-width: 100%;
  overflow: hidden;
  height: 28.9px;
  object-fit: cover;
}
.rectangle-parent13 {
  position: absolute;
  width: calc(100% - 252px);
  right: 29px;
  bottom: 1355.8px;
  left: 223px;
  height: 84.2px;
}
.image-45-icon1,
.image-46-icon1 {
  position: absolute;
  width: calc(100% - 118.6px);
  right: 118.6px;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 40.9px;
  object-fit: cover;
}
.image-46-icon1 {
  width: calc(100% - 37px);
  right: -0.1px;
  bottom: 5.1px;
  left: 37.1px;
  height: 31.2px;
}
.image-45-group {
  position: absolute;
  width: calc(100% - 27.6px);
  right: 13.4px;
  bottom: 21.7px;
  left: 14.2px;
  height: 40.9px;
}
.image-79-11,
.rectangle-parent14 {
  position: absolute;
  width: calc(100% - 252px);
  right: 223px;
  bottom: 1254.8px;
  left: 29px;
  height: 84.2px;
}
.image-79-11 {
  width: calc(100% - 93.8px);
  right: 47.3px;
  bottom: 20.9px;
  left: 46.5px;
  max-width: 100%;
  overflow: hidden;
  height: 46.5px;
  object-fit: cover;
}
.rectangle-parent15 {
  position: absolute;
  width: calc(100% - 252px);
  right: 29px;
  bottom: 1254.8px;
  left: 223px;
  height: 84.2px;
}
.a-gamefi-infrastructure1,
.logo-icon1 {
  position: absolute;
  left: calc(50% - 102px);
}
.logo-icon1 {
  bottom: 104.8px;
  width: 145.8px;
  height: 34.2px;
}
.a-gamefi-infrastructure1 {
  bottom: 68px;
  display: inline-block;
  width: 205px;
}
.vector-icon1 {
  width: 24px;
  position: relative;
  height: 23px;
}
.social-btn3,
.social-btn4 {
  backdrop-filter: blur(300px);
  border-radius: 32px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  width: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.social-btn3 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 83.6px);
  height: 48px;
}
.social-btn4 {
  left: calc(50% - 24.5px);
}
.social-btn4,
.social-btn5,
.social-links1 {
  position: absolute;
  bottom: 0;
  height: 48px;
}
.social-btn5 {
  left: calc(50% + 34.7px);
  backdrop-filter: blur(300px);
  border-radius: 32px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  width: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
.social-links1 {
  left: calc(50% - 103px);
  width: 167.2px;
}
.company-info1,
.product1 {
  position: absolute;
  font-size: 18px;
}
.company-info1 {
  bottom: 708px;
  left: calc(50% - 186px);
  width: 206px;
  height: 139px;
}
.product1 {
  top: 0;
  left: 0;
  color: #fff;
}
.nft-apis1,
.sdks1,
.token-apis1,
.transfer-apis1 {
  position: absolute;
  top: 28.9px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 37px;
  height: 24px;
}
.nft-apis1,
.token-apis1,
.transfer-apis1 {
  top: 61.9px;
  width: 86px;
  height: 23px;
}
.nft-apis1,
.token-apis1 {
  top: 93.9px;
  width: 73px;
  height: 24px;
}
.nft-apis1 {
  top: 125.9px;
  width: 61px;
}
.footer-links-11 {
  position: absolute;
  top: 6788px;
  left: 30px;
  width: 86px;
  height: 149.9px;
  font-size: 14px;
  color: #8d96b2;
}
.about-us1,
.press-kit1,
.privacy-policy1,
.security1 {
  position: absolute;
  top: 28.9px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 56px;
  height: 24px;
}
.press-kit1,
.privacy-policy1,
.security1 {
  top: 62px;
  width: 59px;
  height: 23px;
}
.privacy-policy1,
.security1 {
  top: 93.9px;
  width: 51px;
  height: 24px;
}
.privacy-policy1 {
  top: 125.9px;
  width: 87px;
}
.footer-links-21 {
  position: absolute;
  top: 6788px;
  left: 179px;
  width: 87px;
  height: 149.9px;
  font-size: 14px;
  color: #8d96b2;
}
.discord1,
.email1,
.press1,
.telegram1 {
  position: absolute;
  top: 28.9px;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 35px;
  height: 24px;
}
.discord1,
.press1,
.telegram1 {
  top: 61.9px;
  width: 49px;
  height: 23px;
}
.press1,
.telegram1 {
  top: 93.9px;
  width: 59px;
  height: 24px;
}
.press1 {
  top: 125.9px;
  width: 34px;
}
.footer-link-31,
.footer-link-4 {
  position: absolute;
  top: 6962px;
  left: 29px;
  width: 67px;
  height: 149.9px;
  font-size: 14px;
  color: #8d96b2;
}
.footer-link-4 {
  left: 179px;
}
.sign-up-for1,
.supercharge-your-inbox1 {
  position: absolute;
  left: calc(50% - 151.5px);
}
.supercharge-your-inbox1 {
  bottom: 112px;
  color: #fff;
}
.sign-up-for1 {
  bottom: 83px;
  font-size: 16px;
}
.enter-you-email1 {
  position: absolute;
  top: 10px;
  left: 0;
  display: inline-block;
  width: 156.7px;
  height: 15px;
}
.submit1 {
  flex: 1;
  position: relative;
}
.btn1 {
  position: absolute;
  top: 0;
  left: 162.9px;
  border-radius: 25.35px;
  background: linear-gradient(205.14deg, #3f37c9 36.56%, #4cc9f0);
  width: 121px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9.5px 12.7px;
  box-sizing: border-box;
  min-width: 95.05px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.input-field1 {
  width: 283.9px;
  position: relative;
  height: 34px;
}
.input1,
.newsletter1 {
  position: absolute;
  width: 303px;
}
.input1 {
  bottom: 0;
  left: calc(50% - 151.5px);
  backdrop-filter: blur(237.63px);
  border-radius: 25.35px;
  background: linear-gradient(
    92.98deg,
    rgba(217, 217, 217, 0.07),
    rgba(217, 217, 217, 0.05) 99.05%
  );
  border: 0.8px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.5px 11.1px;
  font-size: 11.1px;
}
.newsletter1 {
  bottom: 143px;
  left: calc(50% - 186px);
  height: 144px;
  color: #8d96b2;
}
.lync-logo-icon1,
.lync-mobile-child {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
}
.lync-logo-icon1 {
  width: calc(100% - 91px);
  top: 6281px;
  right: 46px;
  left: 45px;
  height: 81px;
}
.lync-mobile-child {
  height: 2.42%;
  width: 149.63%;
  top: 86.03%;
  right: -31.72%;
  bottom: 11.54%;
  left: -17.91%;
  max-height: 100%;
}
.got-a-game-container1 {
  position: absolute;
  top: 6350px;
  left: 44px;
  font-weight: 900;
  text-align: center;
  display: inline-block;
  width: 337px;
}
.body-222 {
  flex: 1;
  position: relative;
  height: 20px;
}
.arrow-alt-lright-alt-icon9 {
  width: 24px;
  position: relative;
  height: 24px;
  display: none;
}
.cta10 {
  position: absolute;
  top: 6432px;
  left: calc(50% - 74px);
  border-radius: 20px;
  background: linear-gradient(205.14deg, #3f37c9 36.56%, #4cc9f0);
  width: 148px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  box-sizing: border-box;
  font-size: 14px;
}
.lync-world-terms1 {
  position: absolute;
  bottom: 69px;
  left: calc(50% - 86px);
  font-size: 10px;
  color: #8d96b2;
  text-align: center;
}
.with-lync-build-container2 {
  position: absolute;
  bottom: 3793px;
  left: calc(50% - 186px);
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  width: 372px;
}
.image-93-icon {
  position: absolute;
  width: calc(100% - 12.2px);
  right: 5.7px;
  bottom: 178.4px;
  left: 6.5px;
  max-width: 100%;
  overflow: hidden;
  height: 53.6px;
  object-fit: cover;
}
.image-55-icon {
  width: calc(100% - 1.7px);
  right: 0.9px;
  bottom: 55.7px;
  left: 0.8px;
  height: 34.1px;
}
.avalanche-horizontal-white-2-icon,
.image-55-icon,
.image-66-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.avalanche-horizontal-white-2-icon {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35.8px;
}
.image-66-icon {
  width: calc(100% - 24.4px);
  right: 12.2px;
  bottom: 109.7px;
  left: 12.2px;
  height: 48.8px;
}
.image-93-parent,
.lync-mobile-item {
  position: absolute;
  width: calc(100% - 252.8px);
  right: 29.4px;
  bottom: 3526px;
  left: 223.4px;
  height: 232px;
}
.lync-mobile-item {
  width: calc(100% - 268px);
  right: 223px;
  left: 45px;
  max-width: 100%;
  overflow: hidden;
  height: 225px;
}
.lync-mobile-child1,
.lync-mobile-inner {
  position: absolute;
  bottom: 3489px;
  filter: blur(38px);
  background-color: #020617;
  height: 304px;
}
.lync-mobile-inner {
  width: calc(100% - 344px);
  right: 344px;
  left: 0;
}
.lync-mobile-child1 {
  right: 0;
  width: 82px;
}
.overlay-icon8 {
  position: absolute;
  width: calc(100% + 11px);
  right: -11px;
  bottom: 3503px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 305px;
  opacity: 0.2;
}
.lync-mobile {
  width: 100%;
  position: relative;
  background-color: #020617;
  height: 7440px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #fff;
  font-family: Satoshi;
}
